<div id="jumbotron">
    <div class="wrapper jumbo">
        <div id="marketing">
            <div id="message">
                <h1>FIND YOUR TEACHER AND START LEARNING</h1>
            </div>

            <div class="search-bar">
                <input type="text" name="language" placeholder="React, PHP, SQL, Python...">
                <button class="btn-search">SEARCH</button>
            </div>
        </div>
    </div>
</div>

<section id="best-teachers">
    <div class="wrapper">
        <div class="session-title">
            <h2>Our best teachers</h2>
        </div>

        <div id="boxes-teacher">
            {{#each teachers}}
            <a href="/teacher/{{this._id}}"> <div class="box-teacher">
                <div class="teacher-img">
                    <img src="{{this.avatar}}" alt="best teachers">
                </div>
                <div class="info-teacher">
                    <div class="teacher-name">
                        <span>{{this.firstname}}</span>
                    </div>
                    <div class="teacher-rate">
                        <span>5 étoiles</span>
                    </div>
                </div>
            </div></a>
            {{/each}}
        </div>

        <div id="button-more">
            <form action="/teachers">
                <button class="btn-search">MORE TEACHERS</button>
            </form>
        </div>
    </div>
</section>

<section id="all-language">
    <div class="wrapper">
        <div class="session-title">
            <h2>The languages we teach</h2>
        </div>
        <div class="boxes-lg">
            {{#each languages}}
            <div class="box-lg">
                <div class="img-lg">
                    <i class={{this.logo}}></i>
                </div>
                <div class="name-lg">
                    <h4>{{this.name}}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<footer>
    <div class="wrapper">
        <div class="info-ent">
            <div id="logo-footer">
                {{!-- <img src="" alt=""> --}}
                EZdev
            </div>
            <div class="footer-right">
                <div class="footer-info">
                    <h4>ABOUT</h4>
                    <ul>
                        <li>About us</li>
                        <li>Job offers</li>
                        <li>Blog</li>
                        <li>Medias</li>
                    </ul>
                </div>
                <div class="status">
                    <h4>INFORMATIONS</h4>
                    <ul>
                        <li>Contact us</li>
                        <li>Terms of use</li>
                        <li>confidentiality</li>
                    </ul>
                </div>
                <div id="newsletter">
                    <h4>FOLLOW US</h4>
                    <input type="text" placeholder="Your e-mail address">
                    <button id="btn-nl">SUBSCRIBE</button>
                </div>
            </div>
        </div>
        <div id="copyright">
            <span>Copyright by <strong>Yannick Bourenane</strong> & <strong>Pierre Etryhard</strong></span>
        </div>
    </div>
</footer>