<section id="page_teachers" class="wrapper">
    <aside id="filters">
        <div class="filter_box">
            <h3>Languages</h3>
            <ul id="languages">
                {{#each languages}}
                <li class="language_list_item" data-language-id="{{this._id}}">
                    <input id="input_{{this._id}}" type="hidden" data-tag-id="{{this._id}}" disabled />
                    <label for="input_{{this._id}}">{{{this.logo}}}</label>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="filter_box">
            <h3>Price</h3>
            <div>&lt; <span id="price_output">{{maxPrice}}</span>€ <span class="grey">/h</span>
            </div>
            <input class="range" value="{{maxPrice}}" type="range" min="{{minPrice}}" max="{{maxPrice}}" step="1">
        </div>
        <div class="filter_box">
            <h3>Reviews</h3>
<<<<<<< HEAD
            <div id="review_filter">
                <i class="fa fa-star" data-value-rate="1"></i><i class="fa fa-star" data-value-rate="2"></i><i class="fa fa-star" data-value-rate="3"></i><i
                    class="fa fa-star" data-value-rate="4"></i><i class="fa fa-star" data-value-rate="5"></i>
=======
            <div id="rate-review">
                <input type="hidden" name="rate" id="rate-teacher" value="1">
                <div class="rating star">
                    <i data-type-rate="1" class="fas fa-star"></i><i data-type-rate="2" class="fas fa-star"></i><i
                        data-type-rate="3" class="fas fa-star"></i><i data-type-rate="4" class="fas fa-star"></i><i
                        data-type-rate="5" class="fas fa-star"></i>
                </div>
>>>>>>> 56f4fecb58d5673144b220d3e8f770c92476232e
            </div>
        </div>
    </aside>
    <div id="teachers_list">
        <h2>Teachers list</h2>
        {{> more_teachers this}}
    </div>
</section>