<div class="wrapper">
    <div class="session-title title-info">
        <h1>Teacher informations</h1>
    </div>
    <div class="all-info">
        <div class="section-left-teacher">
            <div id="info-img-teacher">
                <img src="{{teacher.avatar}}" alt="avatar">
                <span class="teacher-price">{{teacher.price}}€/h</span>
            </div>
            <div class="contact-teacher">
                <a href="mailto:{{teacher.email}}"><button id="btn-contact-teacher">CONTACT THE TEACHER</button></a>
            </div>
        </div>
        <div class="section-right-teacher">
            <div id="info-name-teacher">
                <h2>{{teacher.firstname}} {{teacher.lastname}}</h2>
            </div>
            <div class="info-reviews-teacher">
                {{> average_review}} <a href="/teacher/reviews/{{teacher._id}}">All reviews
                    ({{teacher.id_reviews.length}})</a>
                <div class="link-feedback-teacher">

                </div>
            </div>
            <div id="info-desc-teacher">
                <p>{{teacher.description}}</p>
            </div>

            <div class="info-languages-teacher">
                <h2>What I teach</h2>
                <ul>
                    {{#each teacher.id_languages}}
                    <li>
                        <div id="info-logo-lg">
                            {{{this.logo}}}
                        </div>
                        {{this.name}}
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="session-title">
        <h2>Other teachers</h2>
    </div>
    {{> more_teachers this}}
</div>