<div class="all-boxes-same">
    {{#each fullteachers}}
    <a href="/teacher/{{this._id}}"> <div class="box-same-teacher">
        <div class="box-img-same">
            <img src="{{this.avatar}}" alt="Picture of a teacher">
        </div>

        <div class="box-name-same">
            <h3>{{this.firstname}} {{this.lastname}}</h3>
        </div>
        <div class="box-rate-same">
            {{this.rate}}
        </div>
        <div class="box-lg-same">
            <ul>
                {{#each fullteachers.id_languages}}
                <li>
                    <div id="box-logo-same">
                        {{{this.logo}}} 
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div></a>
    {{/each}}
</div>